.cool-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    margin-top: 0.75em;
    margin-left: 0.75em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 6px;
  }

 
.center {
    text-align: center;
    }

.container-fluid {
    padding-top: 3em;
}